<html>
<body>
<form action="../edcode_c/{{ q.id }}">
<input type="text" name="fname" value="{{ q.name }}">
<input type="text" name="lname" value="{{ q.email }}">
<input type="text" name="email" value="{{ q.pwd }}">
<input type="text" name="pwd" value="{{ q.phno }}">
<input type="text" name="ph_no" value="{{ q.city }}">
<input type="text" name="address" value="{{ q.pin }}">
<input type="text" name="pin" value="{{ q.psd }}">
<input type="text" name="state" value="{{ q.state }}">
<input type="submit">
</form>
</body>
</html>